CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
build
x64
glfw
openal
bin
.vscode
**/*.sln
**/*.lib
**/*.pdb
**/*.ilk
**/*.obj
**/*.tlog
**/*.exe
**/*.FileListAbsolute.txt
**/*.log